In [1]:
import os

from snowflake.snowpark import Session
from snowflake.snowpark.functions import udf, sproc, servicesproc
from snowflake.snowpark import functions as F
from snowflake.snowpark.types import *

In [2]:
connection_parameters = {
    "account": "servicesnow",
    "user": "madkins",
    "password": "July2892!",
    "host": "servicesnow.temptest002038.us-west-2.aws.snowflakecomputing.com",
    "database": "MADKINS",
    "schema": "PUBLIC"
}
session = Session.builder.configs(connection_parameters).create()

In [3]:
@servicesproc(snowservice='CORS')
def train_cpu(session: Session) -> str:
    import math
    x = 1
    y = 2
    
    return x+y

In [4]:
train_cpu()

https://giccv-tt2038-servicesnow.ingress-03.dev-snowflakecomputing.app/sp

In [3]:
import snowflake.connector
connection_parameters = {
    "account": "VUA92284",
    "user": "madkins",
    "password": "July2892!",
    "database": "MADKINS",
    "schema": "PUBLIC",
    "warehouse": "COMPUTE_WH",
    "role": "SYSADMIN"
}
conn = snowflake.connector.connect(**connection_parameters)
batches = conn.cursor().execute('SELECT * FROM "SIP_LOCAL"."PUBLIC"."SIP_TRADES" LIMIT 10000').get_result_batches()

In [13]:
batches[1].to_pandas()

      TID TICKER   EXCHANGE_TIMESTAMP  PRICE  SIZE                        ID
0     259    AMC  1622804931551968768  47.66    80  259001622804931551968768
1     259    AMC  1622804931551968768  47.66    80  259001622804931551968768
2     259    AMC  1622804931551968768  47.63    79  259001622804931551968768
3     259    AMC  1622804931551968768  47.65    80  259001622804931551968768
4     259    AMC  1622804931552265000  47.64    46  259001622804931552265000
...   ...    ...                  ...    ...   ...                       ...
2394  259    AMC  1622805184977246000  48.08    90  259001622805184977246000
2395  259    AMC  1622805184977246000  48.08    90  259001622805184977246000
2396  259    AMC  1622805184978147840  48.09    90  259001622805184978147840
2397  259    AMC  1622805184978147840  48.10    90  259001622805184978147840
2398  259    AMC  1622805184978147840  48.11    70  259001622805184978147840

[2399 rows x 6 columns]

In [7]:
"SIP_LOCAL"."PUBLIC"."SIP_TRADES"