In [1]:
import pickle
import random
import string
from typing import List

from snowflake.ml.transformers.preprocessing import standard_scaler, ordinal_encoder
from snowflake.ml.transformers import pipeline
from snowflake.ml.utils import connection_params
#from snowflake.ml.fileset import fileset
from snowflake import snowpark
from snowflake.snowpark import DataFrame
from snowflake.snowpark import functions as F
from snowflake.snowpark.functions import col, iff, cast, row_number
import pandas as pd
import pyarrow as pa
import os

In [2]:
connection_parameters = {
    "account": "VUA92284",
    "user": "snowflake_nvidia",
    "password": os.environ['SNOWFLAKE_TEMP_PASSWORD'],
    "role": "SNOWFLAKE_NVIDIA",  # optional
    "warehouse": "SNOWFLAKE_NVIDIA",  # medium snowpark-optimized
    "database": "SNOWFLAKE_NVIDIA",  
    "schema": "PUBLIC",  
  }
session = snowpark.Session.builder.configs(connection_parameters).create()

In [25]:
# Criteo dataset

_NUMERICAL_FEATURES = [f"I{i}" for i in range(1, 14)]
_CATEGORICAL_FEATURES = [f"C{i}" for i in range(1, 27)]
_LABEL = "LABEL"

# I sample the data before I'm confident that training works.
_SAMPLE_SIZE = 1000000

In [37]:
# "Featurization"
# In reality, the SQL below should be much more complicated and would involve joins.

select_columns = (
    [_LABEL]
    + _NUMERICAL_FEATURES
    + _CATEGORICAL_FEATURES
)
limit = f"limit {_SAMPLE_SIZE}" if _SAMPLE_SIZE else ""
all_data = session.sql(f'''select {','.join(select_columns)} from "criteo_day_0" {limit}''')
[train_data, eval_data, test_data] = all_data.random_split([0.8, 0.1, 0.1])

In [35]:
all_data.limit(5).to_pandas()

,LABEL,I1,I2,I3,I4,I5,I6,I7,I8,I9,I10,I11,I12,I13
0,0,1.0,280.0,2.0,20.0,10.0,0.0,0.0,0,2,0.0,4.0,4036.0,2.0
1,0,NaN,17.0,NaN,5.0,1.0,NaN,0.0,-1,0,NaN,1.0,20314.0,NaN
2,0,4.0,315.0,7.0,8.0,10.0,5.0,0.0,90,8,1.0,4.0,276.0,8.0
3,0,2.0,1596.0,7.0,99.0,12.0,0.0,0.0,0,19,0.0,8.0,2764.0,7.0
4,0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,2,4,NaN,NaN,1234.0,NaN

In [40]:
# Feature engineering functions
def fit_transformers(data_df: DataFrame) -> pipeline.Pipeline:
    p = pipeline.Pipeline(
        [
            (
                "scale_to_std",
                standard_scaler.StandardScaler(
                    input_cols=_NUMERICAL_FEATURES,
                    output_cols=[f"scaled_{f}" for f in _NUMERICAL_FEATURES],
                ),
            ),
            (
                "vocab",
                ordinal_encoder.OrdinalEncoder(
                    input_cols=_CATEGORICAL_FEATURES,
                    output_cols=[f"vocab_{f}" for f in _CATEGORICAL_FEATURES],
                    encoded_missing_value=-1,
                    unknown_value=-1,
                    handle_unknown="use_encoded_value",
                ),
            ),
        ]
    )

    return p.fit(data_df)


def preprocess_with_transformers(
    fitted_pipeline: pipeline.Pipeline, data_df: DataFrame
) -> DataFrame:
    transformed_data = fitted_pipeline.transform(data_df)
    # keep only transformed columns
    transformed_data = transformed_data.select(
        [col(f"scaled_{f}").alias(f) for f in _NUMERICAL_FEATURES]
        + [col(f"vocab_{f}").alias(f) for f in _CATEGORICAL_FEATURES]
        + [_LABEL]
    )
    # the following are either not implemented or something we have to fight..

    transformed_data = (
        transformed_data.na.fill(0)
        # 1. replace negative vocab values with n_vocab (since 0...n_vocab-1 are already occupied)
        # 2. cast vocab values to int (originally float)
        .select(
            [
                cast(
                    iff(
                        col(f) == -1.0,
                        len(fitted_pipeline.steps[1][1].categories_[f]),
                        col(f),
                    ),
                    "int",
                ).alias(f)
                for f in _CATEGORICAL_FEATURES
            ]
            + _NUMERICAL_FEATURES
            + [cast(_LABEL, "float").alias(_LABEL)]
        )
    )

    return transformed_data

In [41]:
# fit using only training split but transform all splits.
p = fit_transformers(train_data)

#preprocessed_train_data = preprocess_with_transformers(p, train_data)
#preprocessed_eval_data = preprocess_with_transformers(p, eval_data)
#preprocessed_test_data = preprocess_with_transformers(p, test_data)

Failed to execute query [queryID: 01aa9f79-0402-9b75-002a-c9030e12f396] ( SELECT "'C1'" AS "_COLUMN_NAME", "C1" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C1"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C1', "C1",  CAST ((row_number() OVER (  ORDER BY "C1" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C1" FROM ( SELECT "C1" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C1") WHERE "C1" IS NOT NULL ORDER BY "C1" ASC NULLS FIRST))) UNION ( SELECT "'C1'" AS "_COLUMN_NAME", "C1" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C1', "C1", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C1" FROM ( SELECT "C1" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C1") WHERE "C1" IS NULL))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C2'" AS "_COLUMN_NAME", "C2" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C2"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C2', "C2",  CAST ((row_number() OVER (  ORDER BY "C2" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C2" FROM ( SELECT "C2" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C2") WHERE "C2" IS NOT NULL ORDER BY "C2" ASC NULLS FIRST))) UNION ( SELECT "'C2'" AS "_COLUMN_NAME", "C2" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C2', "C2", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C2" FROM ( SELECT "C2" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C2") WHERE "C2" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C3'" AS "_COLUMN_NAME", "C3" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C3"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C3', "C3",  CAST ((row_number() OVER (  ORDER BY "C3" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C3" FROM ( SELECT "C3" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C3") WHERE "C3" IS NOT NULL ORDER BY "C3" ASC NULLS FIRST))) UNION ( SELECT "'C3'" AS "_COLUMN_NAME", "C3" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C3', "C3", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C3" FROM ( SELECT "C3" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C3") WHERE "C3" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C4'" AS "_COLUMN_NAME", "C4" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C4"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C4', "C4",  CAST ((row_number() OVER (  ORDER BY "C4" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C4" FROM ( SELECT "C4" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C4") WHERE "C4" IS NOT NULL ORDER BY "C4" ASC NULLS FIRST))) UNION ( SELECT "'C4'" AS "_COLUMN_NAME", "C4" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C4', "C4", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C4" FROM ( SELECT "C4" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C4") WHERE "C4" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C5'" AS "_COLUMN_NAME", "C5" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C5"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C5', "C5",  CAST ((row_number() OVER (  ORDER BY "C5" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C5" FROM ( SELECT "C5" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C5") WHERE "C5" IS NOT NULL ORDER BY "C5" ASC NULLS FIRST))) UNION ( SELECT "'C5'" AS "_COLUMN_NAME", "C5" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C5', "C5", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C5" FROM ( SELECT "C5" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C5") WHERE "C5" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C6'" AS "_COLUMN_NAME", "C6" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C6"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C6', "C6",  CAST ((row_number() OVER (  ORDER BY "C6" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C6" FROM ( SELECT "C6" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C6") WHERE "C6" IS NOT NULL ORDER BY "C6" ASC NULLS FIRST))) UNION ( SELECT "'C6'" AS "_COLUMN_NAME", "C6" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C6', "C6", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C6" FROM ( SELECT "C6" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C6") WHERE "C6" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C7'" AS "_COLUMN_NAME", "C7" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C7"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C7', "C7",  CAST ((row_number() OVER (  ORDER BY "C7" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C7" FROM ( SELECT "C7" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C7") WHERE "C7" IS NOT NULL ORDER BY "C7" ASC NULLS FIRST))) UNION ( SELECT "'C7'" AS "_COLUMN_NAME", "C7" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C7', "C7", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C7" FROM ( SELECT "C7" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C7") WHERE "C7" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C8'" AS "_COLUMN_NAME", "C8" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C8"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C8', "C8",  CAST ((row_number() OVER (  ORDER BY "C8" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C8" FROM ( SELECT "C8" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C8") WHERE "C8" IS NOT NULL ORDER BY "C8" ASC NULLS FIRST))) UNION ( SELECT "'C8'" AS "_COLUMN_NAME", "C8" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C8', "C8", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C8" FROM ( SELECT "C8" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C8") WHERE "C8" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C9'" AS "_COLUMN_NAME", "C9" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C9"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C9', "C9",  CAST ((row_number() OVER (  ORDER BY "C9" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C9" FROM ( SELECT "C9" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C9") WHERE "C9" IS NOT NULL ORDER BY "C9" ASC NULLS FIRST))) UNION ( SELECT "'C9'" AS "_COLUMN_NAME", "C9" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C9', "C9", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C9" FROM ( SELECT "C9" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C9") WHERE "C9" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C10'" AS "_COLUMN_NAME", "C10" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C10"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C10', "C10",  CAST ((row_number() OVER (  ORDER BY "C10" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C10" FROM ( SELECT "C10" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C10") WHERE "C10" IS NOT NULL ORDER BY "C10" ASC NULLS FIRST))) UNION ( SELECT "'C10'" AS "_COLUMN_NAME", "C10" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C10', "C10", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C10" FROM ( SELECT "C10" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C10") WHERE "C10" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C11'" AS "_COLUMN_NAME", "C11" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C11"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C11', "C11",  CAST ((row_number() OVER (  ORDER BY "C11" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C11" FROM ( SELECT "C11" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C11") WHERE "C11" IS NOT NULL ORDER BY "C11" ASC NULLS FIRST))) UNION ( SELECT "'C11'" AS "_COLUMN_NAME", "C11" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C11', "C11", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C11" FROM ( SELECT "C11" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C11") WHERE "C11" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C12'" AS "_COLUMN_NAME", "C12" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C12"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C12', "C12",  CAST ((row_number() OVER (  ORDER BY "C12" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C12" FROM ( SELECT "C12" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C12") WHERE "C12" IS NOT NULL ORDER BY "C12" ASC NULLS FIRST))) UNION ( SELECT "'C12'" AS "_COLUMN_NAME", "C12" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C12', "C12", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C12" FROM ( SELECT "C12" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C12") WHERE "C12" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C13'" AS "_COLUMN_NAME", "C13" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C13"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C13', "C13",  CAST ((row_number() OVER (  ORDER BY "C13" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C13" FROM ( SELECT "C13" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C13") WHERE "C13" IS NOT NULL ORDER BY "C13" ASC NULLS FIRST))) UNION ( SELECT "'C13'" AS "_COLUMN_NAME", "C13" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C13', "C13", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C13" FROM ( SELECT "C13" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C13") WHERE "C13" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C14'" AS "_COLUMN_NAME", "C14" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C14"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C14', "C14",  CAST ((row_number() OVER (  ORDER BY "C14" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C14" FROM ( SELECT "C14" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C14") WHERE "C14" IS NOT NULL ORDER BY "C14" ASC NULLS FIRST))) UNION ( SELECT "'C14'" AS "_COLUMN_NAME", "C14" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C14', "C14", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C14" FROM ( SELECT "C14" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C14") WHERE "C14" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C15'" AS "_COLUMN_NAME", "C15" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C15"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C15', "C15",  CAST ((row_number() OVER (  ORDER BY "C15" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C15" FROM ( SELECT "C15" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C15") WHERE "C15" IS NOT NULL ORDER BY "C15" ASC NULLS FIRST))) UNION ( SELECT "'C15'" AS "_COLUMN_NAME", "C15" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C15', "C15", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C15" FROM ( SELECT "C15" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C15") WHERE "C15" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C16'" AS "_COLUMN_NAME", "C16" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C16"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C16', "C16",  CAST ((row_number() OVER (  ORDER BY "C16" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C16" FROM ( SELECT "C16" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C16") WHERE "C16" IS NOT NULL ORDER BY "C16" ASC NULLS FIRST))) UNION ( SELECT "'C16'" AS "_COLUMN_NAME", "C16" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C16', "C16", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C16" FROM ( SELECT "C16" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C16") WHERE "C16" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C17'" AS "_COLUMN_NAME", "C17" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C17"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C17', "C17",  CAST ((row_number() OVER (  ORDER BY "C17" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C17" FROM ( SELECT "C17" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C17") WHERE "C17" IS NOT NULL ORDER BY "C17" ASC NULLS FIRST))) UNION ( SELECT "'C17'" AS "_COLUMN_NAME", "C17" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C17', "C17", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C17" FROM ( SELECT "C17" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C17") WHERE "C17" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C18'" AS "_COLUMN_NAME", "C18" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C18"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C18', "C18",  CAST ((row_number() OVER (  ORDER BY "C18" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C18" FROM ( SELECT "C18" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C18") WHERE "C18" IS NOT NULL ORDER BY "C18" ASC NULLS FIRST))) UNION ( SELECT "'C18'" AS "_COLUMN_NAME", "C18" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C18', "C18", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C18" FROM ( SELECT "C18" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C18") WHERE "C18" IS NULL))))) UNION ( SELECT "_COLUMN_NAME", "'_CATEGORY_vludloz4cs'", "_INDEX" FROM (( SELECT "'C19'" AS "_COLUMN_NAME", "C19" AS "'_CATEGORY_vludloz4cs'", " CAST ((row_number() OVER (  ORDER BY ""C19"" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)" AS "_INDEX" FROM ( SELECT 'C19', "C19",  CAST ((row_number() OVER (  ORDER BY "C19" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT) FROM ( SELECT  *  FROM ( SELECT "C19" FROM ( SELECT "C19" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C19") WHERE "C19" IS NOT NULL ORDER BY "C19" ASC NULLS FIRST))) UNION ( SELECT "'C19'" AS "_COLUMN_NAME", "C19" AS "'_CATEGORY_vludloz4cs'", "-1 :: INT" AS "_INDEX" FROM ( SELECT 'C19', "C19", -1 :: INT FROM ( SELECT  *  FROM ( SELECT "C19" FROM ( SELECT "C19" FROM ( SELECT  *  FROM SNOWPARK_TEMP_TABLE_9LRUMHHV73 WHERE (("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" >= 0 :: INT) AND ("SNOWPARK_TEMP_COLUMN_1TVRW0X3UZ" < 800000 :: INT)))) GROUP BY "C19") WHERE "C19" IS NULL))))) UNION ( SELECT

SnowparkSQLException: (1304): 01aa9f79-0402-9b75-002a-c9030e12f396: 000904 (42000): SQL compilation error: error line 1 at position 69
invalid identifier '" CAST ((row_number() OVER (  ORDER BY "C1" ASC NULLS FIRST ) - 1 :: INT) AS FLOAT)"'